<section class="game-container">
  <div class="action-buttons">
    <button (click)="toggleTheme()" class="toggle-btn theme">
      {{ theme() === "light" ? "🌙" : "☀️" }}
    </button>

    <button
      (click)="toggleComputerMode()"
      class="toggle-btn cpu"
      [class.active]="isVsComputer()"
    >
      {{ isVsComputer() ? "🤖 CPU: ON" : "🙋🏼‍♂️ CPU: OFF" }}
    </button>
  </div>
  <fieldset class="difficulty-selector" *ngIf="isVsComputer()">
    <legend>Select Difficulty:</legend>

    <div class="radio-option">
      <input
        type="radio"
        id="easy"
        name="difficulty"
        value="easy"
        checked
        (change)="onDifficultyChange($event)"
      />
      <label for="easy">Easy</label>
    </div>

    <div class="radio-option">
      <input
        type="radio"
        id="hard"
        name="difficulty"
        value="hard"
        (change)="onDifficultyChange($event)"
      />
      <label for="hard">Hard</label>
    </div>
  </fieldset>

  <h1 class="game-title">Tic-Tac-Toe</h1>

  <div
    class="status"
    [ngClass]="{
      winner: state().winner,
      draw: state().isDraw,
      'current-turn': !state().winner && !state().isDraw
    }"
  >
    <ng-container *ngIf="state().winner; else ongoing">
      🎉 Winner: {{ state().winner }}
    </ng-container>
    <ng-template #ongoing>
      <ng-container *ngIf="!state().isDraw; else draw">
        ▶️ Current Turn: {{ state().currentPlayer }}
      </ng-container>
    </ng-template>
    <ng-template #draw> 🤝 It's a Draw! </ng-template>
  </div>

  <app-board
    [board]="state().board"
    [winningCells]="state().winningCells"
    (cellClick)="onCellClick($event.row, $event.col)"
  >
  </app-board>

  <button (click)="reset()">Reset</button>
</section>
